name: Deploy Application

on: push

jobs:
  build:
    name: Build .NET Core Application
    runs-on: ubuntu-latest
    steps:
      - name: Pull Code
        uses: actions/checkout@v2
      - name: Print directory
        run: pwd
      - name: List files in directory
        run: ls